/* 个人中心布局 */
.xtx-member-wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

/* 侧边栏 */
.xtx-member-aside {
    width: 220px;
    background: #fff;
    border-radius: 4px;
}

.xtx-member-aside .user-manage {
    background-color: #fff;
}

.xtx-member-aside .user-manage h4 {
    font-size: 18px;
    font-weight: 400;
    padding: 20px 52px 5px;
    border-top: 1px solid #f6f6f6;
    margin-top: 10px;
}

.xtx-member-aside .user-manage h4:first-child {
    border-top: none;
    margin-top: 0;
}

.xtx-member-aside .user-manage .links {
    padding: 0 52px 10px;
}

.xtx-member-aside .user-manage .links a {
    display: block;
    line-height: 1;
    padding: 15px 0;
    font-size: 14px;
    color: #666;
    position: relative;
}

.xtx-member-aside .user-manage .links a:hover {
    color: #5EB69C;
}

.xtx-member-aside .user-manage .links a.active {
    color: #5EB69C;
}

.xtx-member-aside .user-manage .links a.active:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #5EB69C;
    position: absolute;
    top: 19px;
    left: -16px;
}

/*主要内容区域*/
.xtx-member-content {
    width: 1000px;
    background: #fff;
    border-radius: 4px;
    padding: 20px;
}

/* 订单页面特定的样式 */
.order-header {
    height: 60px;
    border-bottom: 1px solid #f5f5f5;
    display: flex;
    align-items: center;
}

.order-header .tabs {
    display: flex;
}

.order-header .tabs a {
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    font-size: 16px;
    position: relative;
}

.order-header .tabs a.active {
    color: #5EB69C;
}

.order-header .tabs a.active:after {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 2px;
    background-color: #5EB69C;
}

/* 订单列表 */
.order-list {
    padding: 20px;
    background: #fff;
}

.order-item {
    border: 1px solid #f5f5f5;
    margin-bottom: 20px;
}

.order-item .head {
    height: 50px;
    line-height: 50px;
    background: #f5f5f5;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    color: #999;
}

.order-item .head span {
    margin-right: 20px;
}

.order-item .body {
    display: flex;
    padding: 20px;
}

.order-item .body .column {
    border-right: 1px solid #f5f5f5;
}

.order-item .body .column:last-child {
    border-right: none;
}

.order-item .body .goods {
    flex: 1;
    display: flex;
}

.order-item .body .goods img {
    width: 70px;
    height: 70px;
    border: 1px solid #f5f5f5;
    margin-right: 10px;
}

.order-item .body .goods .info {
    width: 220px;
    text-align: left;
}

.order-item .body .goods .price {
    width: 100px;
    text-align: center;
}

.order-item .body .goods .count {
    width: 80px;
    text-align: center;
}

.order-item .body .state {
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.order-item .body .amount {
    width: 160px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #cf4444;
    font-size: 13px;
}

.order-item .body .amount .red {
    color: #cf4444;
    font-size: 16px;
}

.order-item .body .amount p {
    margin: 2px 0;
}

.order-item .body .action {
    width: 140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.order-item .body .action .btn {
    display: block;
    width: 100px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto 10px;
    border: 1px solid #e4e4e4;
    background: #fff;
    border-radius: 4px;
    font-size: 12px;
    color: #666;
}

.order-item .body .action .btn-primary {
    background: #5EB69C;
    color: #fff;
    border-color: #5EB69C;
}